.available-products-container{
    flex-grow: 0;
     flex-shrink: 0; 
     width: 600px;
     min-height: 400px;
     border: 2px solid #ced3d7 ;
     border-radius: 0.4rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
     
     
}
.product-content{
    width: 90%;
    margin:auto;
}